.searchContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 150px;
}

label {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  text-align: center;
}

.input {
  width: 300px;
  height: 25px;
  border-radius: 4px;
  margin-top: 5px;
  padding: 5px;
}
